@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf);
}

.input-height {
  height: 2.35rem
}


